In [1]:
import pandas as pd
import zipfile
import geopandas as gpd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [8]:
def pluto(mappluto,censusblockgroup):
    z = zipfile.ZipFile(mappluto)
    z.extractall('../data_initial/')
    
    z = zipfile.ZipFile(censusblockgroup)
    z.extractall('../data_initial/')
    
    boroughs = ['Staten_Island', 'Queens', 'Manhattan', 'Bronx', 'Brooklyn']
    abreevs = ['SI', 'QN', 'MN', 'BX', 'BK']

    pluto = []
    i = 0
    for elem in boroughs:
        temp = gpd.read_file('../data_initial/'+elem+'/'+abreevs[i]+'MapPLUTO.shp')
        temp['BBL'] = temp['BBL'].astype(str)
        temp = temp.to_crs({'init':'epsg:4326'})
        pluto.append(temp)
        i+=1  

    global pluto_updated
    pluto_updated = pd.concat(pluto)
    pluto_updated['BBL'] = pluto_updated['BBL'].astype(str)
    
    global cbg
    cbg = gpd.read_file('../data_initial/cb_2013_36_bg_500k.shp')   
    cbg = cbg.to_crs({'init':'epsg:4326'})
    
    cbg = cbg[['geometry','GEOID', 'AFFGEOID']]
    cbg['GEOID'] = cbg['GEOID'].astype(str)

    #merged = gpd.sjoin(cbg, pluto_updated)
    #merged = merged.drop(['index_right'],axis=1)
    
    #merged.to_file('cbg_mappluto.shp',driver='ESRI Shapefile')

In [9]:
pluto('data_initial/mappluto_13v2.zip','data_initial/cb_2013_36_bg_500k.zip')

In [10]:
pluto_updated.head()

,APPBBL,APPDate,Address,AllZoning1,AllZoning2,AreaSource,AssessLand,AssessTot,BBL,BldgArea,...,YearAlter2,YearBuilt,ZMCode,ZipCode,ZoneDist1,ZoneDist2,ZoneDist3,ZoneDist4,ZoneMap,geometry
0,0.000000e+00,None,455 NORTH GANNON AVENUE,R3-1,None,7,11458.0,21392.0,5007510245.0,1216,...,0,1975,None,10314,R3-1,None,None,None,20d,POLYGON ((-74.14420469056387 40.60835763333879...
1,5.011790e+09,07/12/2005,2 WENLOCK STREET,R3A,None,7,6360.0,19860.0,5011790033.0,1530,...,0,2004,Y,10303,R3A,None,None,None,20c,POLYGON ((-74.14849003806886 40.62654492684894...
2,0.000000e+00,None,1451 CASTLETON AVENUE,R3A,None,7,3047.0,12441.0,5010180049.0,2140,...,0,1925,None,10302,R3A,None,None,None,21a,POLYGON ((-74.13096647156141 40.63448163837178...
3,5.008140e+09,07/20/1994,357 BRADLEY AVENUE,R3-1,None,7,7080.0,22380.0,5008140018.0,1800,...,0,1993,None,10314,R3-1,None,None,None,27a,POLYGON ((-74.13085483888224 40.60238841765763...
4,0.000000e+00,None,72 UNION AVENUE,R3A,None,7,7635.0,16346.0,5012250040.0,2060,...,0,1899,None,10303,R3A,None,None,None,20c,POLYGON ((-74.15813701116035 40.63497208466961...

In [11]:
cbg.head()

,geometry,GEOID,AFFGEOID
0,"POLYGON ((-74.0077100448287 40.5986709706622, ...",360470282001,1500000US360470282001
1,"POLYGON ((-74.171216 40.637436, -74.1682139999...",360850319022,1500000US360850319022
2,POLYGON ((-77.60430099999999 43.25373099999999...,360550101005,1500000US360550101005
3,"POLYGON ((-73.944879 40.834059, -73.942032 40....",360610241004,1500000US360610241004
4,"POLYGON ((-73.898499 40.920275, -73.8980740000...",361190002014,1500000US361190002014

In [12]:
print cbg.crs
print pluto_updated.crs

{'init': 'epsg:4326'}
{'init': 'epsg:4326'}

In [13]:
cbg.isnull().sum()

geometry    0
GEOID       0
AFFGEOID    0
dtype: int64

In [14]:
pluto_updated.isnull().sum()

APPBBL             0
APPDate       776361
Address          987
AllZoning1       916
AllZoning2    833166
AreaSource         0
AssessLand         0
AssessTot          0
BBL                0
BldgArea           0
BldgClass        980
BldgDepth          0
BldgFront          0
Block              0
BoroCode           0
Borough            0
BsmtCode         980
BuiltCode     259213
BuiltFAR           0
CB2010         22751
CD                 0
CT2010          5013
ComArea            0
CommFAR            0
CondoNo            0
Council            0
EDesigNum     849676
Easements          0
ExemptLand         0
ExemptTot          0
               ...
ProxCode         980
ResArea            0
ResidFAR           0
RetailArea         0
SHAPE_Area         0
SHAPE_Leng         0
SPDist1       762794
SPDist2       857939
Sanborn          560
SchoolDist      3522
SplitZone        980
StrgeArea          0
TaxMap           560
Tract2010          0
UnitsRes           0
UnitsTotal         0
Version            0
XCoord             0
YCoord             0
YearAlter1         0
YearAlter2         0
YearBuilt          0
ZMCode        842361
ZipCode            0
ZoneDist1        916
ZoneDist2     833166
ZoneDist3     857671
ZoneDist4     857973
ZoneMap            0
geometry           0
dtype: int64

In [15]:
merged = gpd.sjoin(cbg, pluto_updated)

RTreeError: Coordinates must be in the form (minx, miny, maxx, maxy) or (x, y) for 2D indexes