In [1]:
from json import loads 
import urllib2
from datetime import datetime, timedelta 
import json
import pandas as pd

In [2]:
base = datetime.strptime('1/1/2013', '%m/%d/%Y')
date_list = [base + timedelta(days=x) for x in range(0, (365*3))]

In [ ]:
base1 = datetime.strptime('1/1/2014', '%m/%d/%Y')
date_list1 = [base1 + timedelta(days=x) for x in range(0, (365))]

In [ ]:
base2 = datetime.strptime('1/1/2014', '%m/%d/%Y')
date_list2 = [base2 + timedelta(days=x) for x in range(0, (365))]

In [3]:
date_list[-1]

datetime.datetime(2015, 12, 31, 0, 0)

In [21]:
weather = {}
for date in date_list[:90]:
    h = urllib2.urlopen('http://api.wunderground.com/api/2c7389076c464042/history_'+str(date.strftime("%Y-%m-%d").replace('-',''))+'/q/NY/New_York.json')
    json_string = h.read()
    parsed_json = json.loads(json_string)
    weather[parsed_json['history']['utcdate']['pretty']]=parsed_json['history']['dailysummary'][0]['mintempi'],\
    parsed_json['history']['dailysummary'][0]['maxtempi'], parsed_json['history']['dailysummary'][0]['meantempi'], \
    parsed_json['history']['observations'][0]['icon'], parsed_json['history']['dailysummary'][0]['snow'], \
    parsed_json['history']['dailysummary'][0]['fog'], parsed_json['history']['dailysummary'][0]['rain']
h.close()

In [22]:
weather0 = pd.DataFrame(weather).T.rename(columns={0:'min_temp', 1:'max_temp', 2:'avg_temp', 3:'icon', 4:'snow', 5:'fog', 6:'rain'})
weather0 = weather0.reset_index()
weather0.head()

               index min_temp max_temp avg_temp          icon snow fog rain
0   February 1, 2013       24       31       28         clear    0   0    0
1  February 10, 2013       18       36       27         clear    0   0    0
2  February 11, 2013       34       45       40         clear    0   1    1
3  February 12, 2013       36       44       40  partlycloudy    0   0    0
4  February 13, 2013       33       44       39         clear    1   0    0

In [11]:
weather = {}
for date in date_list[90:180]:
    h = urllib2.urlopen('http://api.wunderground.com/api/2c7389076c464042/history_'+str(date.strftime("%Y-%m-%d").replace('-',''))+'/q/NY/New_York.json')
    json_string = h.read()
    parsed_json = json.loads(json_string)
    weather[parsed_json['history']['utcdate']['pretty']]=parsed_json['history']['dailysummary'][0]['mintempi'],\
    parsed_json['history']['dailysummary'][0]['maxtempi'], parsed_json['history']['dailysummary'][0]['meantempi'], \
    parsed_json['history']['observations'][0]['icon'], parsed_json['history']['dailysummary'][0]['snow'], \
    parsed_json['history']['dailysummary'][0]['fog'], parsed_json['history']['dailysummary'][0]['rain']
h.close()

In [12]:
weather1 = pd.DataFrame(weather).T.rename(columns={0:'min_temp', 1:'max_temp', 2:'avg_temp', 3:'icon', 4:'snow', 5:'fog', 6:'rain'})
weather1 = weather1.reset_index()
weather1.head()

            index min_temp max_temp avg_temp          icon snow fog rain
0   April 1, 2013       37       62       50        cloudy    0   0    1
1  April 10, 2013       55       74       65  mostlycloudy    0   0    1
2  April 11, 2013       47       60       54        cloudy    0   0    0
3  April 12, 2013       41       47       44        cloudy    0   0    1
4  April 13, 2013       41       58       50          rain    0   0    1

In [13]:
weather = {}
for date in date_list[180:270]:
    h = urllib2.urlopen('http://api.wunderground.com/api/2c7389076c464042/history_'+str(date.strftime("%Y-%m-%d").replace('-',''))+'/q/NY/New_York.json')
    json_string = h.read()
    parsed_json = json.loads(json_string)
    weather[parsed_json['history']['utcdate']['pretty']]=parsed_json['history']['dailysummary'][0]['mintempi'],\
    parsed_json['history']['dailysummary'][0]['maxtempi'], parsed_json['history']['dailysummary'][0]['meantempi'], \
    parsed_json['history']['observations'][0]['icon'], parsed_json['history']['dailysummary'][0]['snow'], \
    parsed_json['history']['dailysummary'][0]['fog'], parsed_json['history']['dailysummary'][0]['rain']
h.close()

In [14]:
weather2 = pd.DataFrame(weather).T.rename(columns={0:'min_temp', 1:'max_temp', 2:'avg_temp', 3:'icon', 4:'snow', 5:'fog', 6:'rain'})
weather2 = weather2.reset_index()
weather2.head()

             index min_temp max_temp avg_temp    icon snow fog rain
0   August 1, 2013       66       76       71   clear    0   1    1
1  August 10, 2013       70       83       77   clear    0   0    0
2  August 11, 2013       65       81       73   clear    0   0    0
3  August 12, 2013       70       82       76  cloudy    0   0    1
4  August 13, 2013       68       77       73   clear    0   0    1

In [15]:
weather = {}
for date in date_list[270:360]:
    h = urllib2.urlopen('http://api.wunderground.com/api/2c7389076c464042/history_'+str(date.strftime("%Y-%m-%d").replace('-',''))+'/q/NY/New_York.json')
    json_string = h.read()
    parsed_json = json.loads(json_string)
    weather[parsed_json['history']['utcdate']['pretty']]=parsed_json['history']['dailysummary'][0]['mintempi'],\
    parsed_json['history']['dailysummary'][0]['maxtempi'], parsed_json['history']['dailysummary'][0]['meantempi'], \
    parsed_json['history']['observations'][0]['icon'], parsed_json['history']['dailysummary'][0]['snow'], \
    parsed_json['history']['dailysummary'][0]['fog'], parsed_json['history']['dailysummary'][0]['rain']
h.close()

In [16]:
weather3 = pd.DataFrame(weather).T.rename(columns={0:'min_temp', 1:'max_temp', 2:'avg_temp', 3:'icon', 4:'snow', 5:'fog', 6:'rain'})
weather3 = weather3.reset_index()
weather3.head()

               index min_temp max_temp avg_temp          icon snow fog rain
0   December 1, 2013       36       49       43        cloudy    0   0    0
1  December 10, 2013       30       37       34         clear    1   1    0
2  December 11, 2013       27       33       30         clear    0   0    0
3  December 12, 2013       23       30       27         clear    0   0    0
4  December 13, 2013       23       35       29  partlycloudy    0   0    0

In [17]:
weather = {}
for date in date_list[360:366]:
    h = urllib2.urlopen('http://api.wunderground.com/api/2c7389076c464042/history_'+str(date.strftime("%Y-%m-%d").replace('-',''))+'/q/NY/New_York.json')
    json_string = h.read()
    parsed_json = json.loads(json_string)
    weather[parsed_json['history']['utcdate']['pretty']]=parsed_json['history']['dailysummary'][0]['mintempi'],\
    parsed_json['history']['dailysummary'][0]['maxtempi'], parsed_json['history']['dailysummary'][0]['meantempi'], \
    parsed_json['history']['observations'][0]['icon'], parsed_json['history']['dailysummary'][0]['snow'], \
    parsed_json['history']['dailysummary'][0]['fog'], parsed_json['history']['dailysummary'][0]['rain']
h.close()

In [18]:
weather4 = pd.DataFrame(weather).T.rename(columns={0:'min_temp', 1:'max_temp', 2:'avg_temp', 3:'icon', 4:'snow', 5:'fog', 6:'rain'})
weather4 = weather4.reset_index()
weather4.head()

               index min_temp max_temp avg_temp   icon snow fog rain
0  December 27, 2013       31       40       36  clear    0   0    0
1  December 28, 2013       36       55       46  clear    0   0    0
2  December 29, 2013       41       48       45  clear    0   0    1
3  December 30, 2013       23       45       34  clear    0   0    0
4  December 31, 2013       21       32       27  clear    0   0    0

In [25]:
weather_all = pd.concat([weather0, weather1, weather2, weather3, weather4])

In [27]:
weather_all.head(10)

               index min_temp max_temp avg_temp          icon snow fog rain
0   February 1, 2013       24       31       28         clear    0   0    0
1  February 10, 2013       18       36       27         clear    0   0    0
2  February 11, 2013       34       45       40         clear    0   1    1
3  February 12, 2013       36       44       40  partlycloudy    0   0    0
4  February 13, 2013       33       44       39         clear    1   0    0
5  February 14, 2013       33       46       40          snow    1   0    0
6  February 15, 2013       37       55       46         clear    0   0    0
7  February 16, 2013       31       41       36        cloudy    1   0    0
8  February 17, 2013       18       32       25        cloudy    0   0    0
9  February 18, 2013       17       35       26         clear    0   0    0

In [29]:
weather_all = weather_all.rename(columns={'index':'date'})

In [30]:
weather_all.head()

                date min_temp max_temp avg_temp          icon snow fog rain
0   February 1, 2013       24       31       28         clear    0   0    0
1  February 10, 2013       18       36       27         clear    0   0    0
2  February 11, 2013       34       45       40         clear    0   1    1
3  February 12, 2013       36       44       40  partlycloudy    0   0    0
4  February 13, 2013       33       44       39         clear    1   0    0

In [34]:
weather_all['date'] = pd.to_datetime(weather_all['date'])

In [36]:
weather_all = weather_all.sort_values(by='date')

In [38]:
weather_all = weather_all.reset_index()
weather_all = weather_all.drop('index',axis=1)

In [39]:
weather_all.head()

        date min_temp max_temp avg_temp          icon snow fog rain
0 2013-01-01       26       40       33        cloudy    0   0    0
1 2013-01-02       22       33       28         clear    0   0    0
2 2013-01-03       24       32       28         clear    0   0    0
3 2013-01-04       30       37       34  mostlycloudy    0   0    0
4 2013-01-05       32       42       37         clear    0   0    0

In [40]:
weather_all.tail()

          date min_temp max_temp avg_temp   icon snow fog rain
361 2013-12-28       36       55       46  clear    0   0    0
362 2013-12-29       41       48       45  clear    0   0    1
363 2013-12-30       23       45       34  clear    0   0    0
364 2013-12-31       21       32       27  clear    0   0    0
365 2014-01-01       24       33       29  clear    0   0    0

In [43]:
weather_all = weather_all.iloc[:365,:]

In [44]:
weather_all.tail()

          date min_temp max_temp avg_temp   icon snow fog rain
360 2013-12-27       31       40       36  clear    0   0    0
361 2013-12-28       36       55       46  clear    0   0    0
362 2013-12-29       41       48       45  clear    0   0    1
363 2013-12-30       23       45       34  clear    0   0    0
364 2013-12-31       21       32       27  clear    0   0    0

In [45]:
weather_all.to_csv('weather_2013.csv')

In [46]:
test = pd.read_csv('weather_2013.csv')
test.head()

,Unnamed: 0,date,min_temp,max_temp,avg_temp,icon,snow,fog,rain
0,0,2013-01-01,26,40,33,cloudy,0,0,0
1,1,2013-01-02,22,33,28,clear,0,0,0
2,2,2013-01-03,24,32,28,clear,0,0,0
3,3,2013-01-04,30,37,34,mostlycloudy,0,0,0
4,4,2013-01-05,32,42,37,clear,0,0,0